#
DOMAIN_NAME=

MYSQL_HOSTNAME=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
WP_ADMIN_USER=
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=
WP_USER=
WP_EMAIL=
WP_PASSWORD=
OLLAMA_MODELS=
OLLAMA_KEEP_ALIVE=
OLLAMA_HOST=

WP_AUTH_KEY=
WP_SECURE_AUTH_KEY=
WP_LOGGED_IN_KEY=
WP_NONCE_KEY=
WP_AUTH_SALT=
WP_SECURE_AUTH_SALT=
WP_LOGGED_IN_SALT=
WP_NONCE_SALT=

REDIS_PASSWORD =
FTP_USR=
FTP_PWD=
USER_ID=
GROUP_ID=
#