services:
  mariadb:
    build:
      context: ./mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file:
      - ./mariadb/.env
    networks:
      - inception_network
    restart: always

  wordpress:
    build:
      context: ./wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    ports:
      - "8080:9000"
    volumes:
      - wordpress_files:/var/www/html
    env_file:
      - ./wordpress/.env
    depends_on:
      - mariadb
    networks:
      - inception_network
    restart: always
    expose:
      - "8080"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl/certificate.pem:/etc/nginx/ssl/certificate.pem
      - ./nginx/ssl/private.key:/etc/nginx/ssl/private.key
      - nginx_logs:/var/log/nginx
      - wordpress_files:/var/www/html
    networks:
      - inception_network
    restart: always

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/mariadbdata
  wordpress_files:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/wp_data
  nginx_logs:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/nginx_logs

networks:
  inception_network:
    driver: bridge
